body{
  background: rgb(4, 2, 26);
}
.home-container{
  height: 100vh;
  width: 80vw;
  min-width: 375px;
  display: flex;
  position: absolute;
  top: 50%;
  left:55%;
  transform: translate(-50%,-50%);
}
.left-container{
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-top: 0px; */
  height: 95vh;
  width: 20vw;
  min-width:375px ;
  background: rgb(17, 12, 73);
  /* background: black; */
}
.accordian-container{
  width: 100%;
  background: rgb(17, 12, 73);
  color: white;
  height: 8vh;
  transition: 0.5s ease-in-out;
  z-index: 1;
  /* margin-bottom: 5px;
  margin-top: 5px; */
  border-bottom: solid white 1px;
}
.accordian-container.active{
  height: 74vh;
  transition: 0.5s ease-in-out;
}
.accordian-header{
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: clamp(14px,0.8rem,36px);
  background: transparent;
  height: 8vh;
  cursor: pointer;
}
.accordian-header h1{
  pointer-events: none;
}
.accordian-body{
  /* position: absolute; */
  height: 0vh;
  transition: 0.5s ease-in-out;
  overflow:hidden;
  z-index: 1;
}
.active .accordian-body{
  height: 66vh;
  transition: 0.5s ease-in-out;
  overflow-y: scroll;
}
.active #illnesses{
  overflow: hidden;
}
.active .button-container{
  display: flex;
  width: 60%;
  position: relative;
  bottom:clamp(5%,10vh,10%);
  left:20%;
}
.illness-button{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  height:  clamp(40px,6vh,55px);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.fa-circle{
  font-size: 18px;
  color: rgb(218, 30, 77);
}
.list-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 90%;
  /* height: 5vh; */
  z-index: 10;
  cursor: pointer;
  padding-left:10px;
  padding-right: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  border: white solid 1px;
  border-radius: 15px;
}
.list-button h3{
  pointer-events: none;
}
.note-container{
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.map-container{
  margin-top: 20px;
  margin-left: 20px;
  width: 50vw;
  height: 100vh;
}
.button-container{
  display: none;
}
.page-button{
  flex-grow: 1;
  margin: 10px;
  height: clamp(35px,5vh,55px);
  font-size: clamp(18px,1rem,24px);
  border-radius: 15px;
  font-weight: bold;
  background: hsla(170,100%,50%,1);
  cursor: pointer;
}
.page-button-hide{
  display: none;
}
.illness-list{
  display: block;
}
.illness-list-hide{
  display: none;
}
.patient-input{
  padding-left: 15px;
  width: 80%;
  display: block;
  margin:8%;
  height: 50px;
  border-radius: 10px;
}

  .close-map-button{
    display: none;
  }
@media only screen and (max-width: 1000px) {

  .home-container{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    max-width: 100vw;
  }
  .left-container{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease-in-out;
  }
  .sliderContainer{
    top:5%;
  }
  .map-container{
    /* display: none; */
    width: 0vw;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  .close-map-button{
    margin-top: 0px;
    cursor: pointer;
    z-index: 100;
    display: inline;
    position: relative;
    top:7%;
    left:20px;
    width: 25vw;
    height: 5vh;
    background: transparent;
    color:black;
    font-size: 18px;
    font-weight: bold;
  }
  .map-container-mobile{
    /* display: block; */
    width:100vw;
    height: 120%;
    transition: 0.5s ease-in-out;
    margin-top: -40px;
  }
  .left-container-mobile{
    width: 0vw;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
}
